extends: default
ignore:
- .github/
- .claude/
rules:
  document-start: disable
  octal-values: enable
  truthy:
    allowed-values:
    - 'true'
    - 'false'
  line-length:
    max: 200
  indentation:
    check-multi-line-strings: false
    indent-sequences: false
  brackets:
    forbid: true
